@import "font/font.scss";
html {
	position: relative;
}
body {
  font-family: Open Sans;
  background-color: #fff;
  color:#000;
}
.tooltip {
	border-bottom:1px solid red;
}
p {
	font-size: 15px;
}
h1 {
	font-size: 25px;
}
.contentTooltip {
	position: absolute;
	background-color: #000;
	color:#fff;
	padding:10px;
	max-width: 300px;
	font-size: 13px;
	@media screen and (max-device-width: 1000px) {
		max-width: 1000px;
		font-size: 25px;
	}
}
