@import "font/font.scss";
html {
	position: relative;
}
body {
  font-family: Open Sans;
}
.tooltip {
	border-bottom:1px solid red;
}
p {
	font-size: 18px;
}
h1 {
	font-size: 25px;
}
.contentTooltip {
	position: absolute;
	background-color: #000;
	color:#fff;
	padding:10px;
	max-width: 300px;
	font-size: 15px;
}
