
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('OpenSans Light'), local('OpenSans-Light'), url(font/Open_Sans/OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('OpenSans LightItalic'), local('OpenSans-LightItalic'), url(font/Open_Sans/OpenSans-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans Regular'), local('OpenSans-Regular'), url(font/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('OpenSans Italic'), local('OpenSans-Italic'), url(font/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'), url(font/Open_Sans/OpenSans-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('OpenSans SemiBoldItalic'), local('OpenSans-SemiBoldItalic'), url(font/Open_Sans/OpenSans-SemiBoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('OpenSans Bold'), local('OpenSans-Bold'), url(font/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('OpenSans BoldItalic'), local('OpenSans-BoldItalic'), url(font/Open_Sans/OpenSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('OpenSans ExtraBold'), local('OpenSans-ExtraBold'), url(font/Open_Sans/OpenSans-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('OpenSans ExtraBoldItalic'), local('OpenSans-ExtraBoldItalic'), url(font/Open_Sans/OpenSans-ExtraBold.ttf) format('truetype');
}